#outer-container {
  display: grid;
  place-items: center;
  margin-bottom: 50px;
}
#toggleFilter-container {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  width: 50vw;
}
#toggle-buttons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
#closed-tasks {
  height: 50px;
  width: 50px;
  border-width: 1px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #adadad;
  border-radius: 8px 1px 1px 8px;
}
#pending-tasks {
  height: 50px;
  border-width: 1px;
  width: 50px;
  background-color: #ffffff;
  display: flex;
  border: 1px solid #adadad;
  align-items: center;
  justify-content: center;
  border-radius: 1px 8px 8px 1px;
  margin-left: 3px;
}
#filter-button {
  height: 44px;
  width: 71px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
