#main-tasks-container {
  display: grid;
  place-items: center;
  justify-items: start;
  align-content: stretch;
  justify-content: space-around;
}
.container {
  text-align: left;
}
#task_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.tcp > div {
  margin: 0 15px 0 0;
}
.tcp {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#email {
  font-size: 12px;
}
.tcp svg {
  height: 10px;
}
#toggle-icon {
  margin-left: 25px;
}
#time-box {
  width: 72px;
  background-color: #f8f8f8;
  color: black;
  text-align: center;
  padding: 2px 5px;
  border-radius: 8px;
  font-size: 14px;
}
#task {
  text-align: left;
  display: flex;
  align-items: flex-start;
  font-weight: 400;
}
#email {
  margin-left: 5px;
}
p {
  margin-bottom: 5px;
}
