#main-tasks-container {
  display: grid;
  place-items: center;
  justify-items: start;
  align-content: stretch;
  justify-content: space-around;
}
#task_container {
  display: flex;
  justify-content: space-between;
  height: 92px;
  width: 918px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
}
#toggle-icon {
  margin-left: 25px;
}
#moveable-button {
  margin: 33px 20px 0 130px;
}
#time-box {
  height: 24px;
  width: 72px;
  background-color: #f8f8f8;
  padding: 2px;
  border-radius: 8px;
  font-size: 14px;
}
#time-value {
  top: 3px;
  position: relative;
}
#task {
  text-align: left;
  font-size: 18;
  font-weight: 400;
}
#email {
  margin-left: 5px;
}
p {
  margin-bottom: 5px;
}
